@import './_variables';
@import './_mixins';
@import './header';
@import './main';
@import './footer';


body {
    font-family: Roboto, sans-serif;
}

.wrapper {
    min-width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;

    img {
        display: block;
    }
}

// ///////////////////////////////////////////////////////////////////

@media (max-width: 941px) {
    .container {
        max-width: 768px;
    }

    .header__picture img {
        margin-bottom: 59px;
    }

    .header__menu__list {
        max-width: 605px;
    }

    .section_our-posts {
        flex-direction: column;
    }

    .instagram-shots__img-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .insta-shots__img:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    .header__menu__list {
        box-sizing: content-box;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: absolute;
        width: 182px;
        height: 208px;
        top: -300px;
        right: 14px;
        background-color: #F5F5F5;
        padding: 8px;
    }

    .header__menu__item:hover {
        background-color: #E5E5E5;
    }

    .header__burger-btn-wrapper {
        display: flex;
    }
}

@media (max-width: 374px) {
    .title {
        font-size: 14px;
    }

    .main__picture img {
        margin-bottom: 42px;
    }

    .section_our-posts__item {
        flex-direction: column;
    }

    .section_our-posts__item .section_our-posts__text {
        padding-left: 0px;
    }

    .section_our-posts__title {
        font-size: 14px;
    }

    .section_our-posts__subtitle {
        font-size: 11px;
    }

    .section_our-posts__info {
        display: none;
    }

    .instasgram-shots {
        background: none;
    }

    .insta-shots__img:not(:first-child) {
        display: none;
    }

    .instasgram-shots__img-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .instasgram-shots--subtitle {
        display: none;
    }

    .footer__inner-container {
        max-width: 303px;
    }

    .footer__inner-title {
        font-size: 14px;
        padding: 38px 0 8px 0;
    }

    .footer-text {
        font-size: 12px;
        line-height: 20px;
    }

    .footer__social {
        padding: 26px 0 25px 0;
    }

    .footer__contact {
        font-size: 14px;
        line-height: 24px;
        max-width: 212px;
        margin: 0 auto;
        padding-bottom: 47px;
    }
}