.footer {
    background-color: black;
    height: 408px;
}

.footer__inner-container {
    max-width: 684px;
    margin: 0 auto;
}

.footer__inner-title {
    color: #FFF;
    text-align: center;
    padding: 66px 0 22px 0;
}

.footer-text {
    @include footer-text-style();
    font-size: 16px;
    line-height: 28px;
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 6px;
    padding: 37px 0 34px 0;

    & a:not(:last-child) {
        margin-right: 6px;
    }
}

.footer__contact {
    @include footer-text-style();
	line-height: 26px;
}