.title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $main-font-color;
    margin: 0;
}

.main__picture img {
    max-width: 100%;
    margin-bottom: 66px;
}

// //////////////////////////////////////////////////////////////////

.section_our-posts {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}

.section_our-posts__item {
    display: flex;
    flex-basis: 50%;
    margin-bottom: 32px;
    text-decoration: none;

    .section_our-posts__text {
        padding-left: 20px;
    }
}

.section_our-posts__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $main-font-color
}

.section_our-posts__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
}

.section_our-posts__info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
}

// //////////////////////////////////////////////////////////////////

.instagram-shots {
    background-color: #F5F5F5;
    height: 456px;
}

.instagram-shots__titles {
    display: flex;
    justify-content: space-between;
    padding: 46px 0 24px 0;
}

.instagram-shots--subtitle {
    display: block;
    text-decoration: none;
    font-size: 13px;
}

.instagram-shots__img-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin-bottom: 49px;
}

.insta-shots__img img {
    display: block;
    width: 100%;
}