body.dark {
    background-color: rgb(22, 24, 27);
    color: #fff;
}

body.dark .header-linkrad {
    color: white;
}

body.dark p {
    color: white;
}

body.dark .menu-section {
    border: 1px solid white;
}

body.dark .im {
    border: 1px solid white;
}

body.dark .section-listlink {
    color: white;
}

body.dark .menu-footer {
    background-color: #b5b8bb;
}

#btn_crescent {
    width: 60px;
    height: 60px;
    margin: -20px 0 20px 0;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 #000000;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 1000px;
}

body.dark #btn_crescent {
    box-shadow: 15px 15px 0 0 #ffffff;
}

.mane {
    display: flex;
}

a {
    text-decoration: none;
}

.header-link {
    margin-top: 63px;
    margin-left: 98px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #4bcaff;
}

.header-linkrad {
    color: black;
}

li {
    list-style: none;
}

.header-navigation {
    width: 1283px;
    background-color: #35444F;
    margin-left: 98px;
    margin-top: 38px;

}

.header-list {
    display: inline-block;
    margin: 0;
    margin-left: 162px;
}

.header-item {
    display: inline-block;
    border-left: 1px solid white;
    padding-top: 26px;
    padding-bottom: 19px;
    padding-left: 16px;
    padding-right: 16px;

}

.header-itemlink {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

}

.header-item:nth-child(4) {
    border-right: 1px solid white;
}

.header-item:hover {
    background-color: #222F3A;
}

.class-menu {
    display: flex;
}

* {
    box-sizing: border-box;
}

.menu-section {
    width: 347px;
    height: 408px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-left: 100px;
    margin-top: 38px;
    margin-right: 52px;
}

.section-list {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 399px;
    margin: 0;
    padding: 0;

}

.section-listitem {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 44px;


}

.section-listlink {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #485863;

}

.section-listitem:hover {
    padding-left: 60px;
    background-color: #DBDBDB;
}

.section-listitem:hover .section-listlink {
    color: black;
}


.im {
    width: 885px;
    height: 529px;
    display: block;

    margin-top: 38px;
    margin-bottom: 37px;
    border: 1px solid #000000;
}

.ig {
    width: 320px;
    height: 381px;
    margin-left: 297px;
    margin-top: 75px;
    margin-bottom: 73px;

}

.circle p {
    width: 885px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-top: 34px;
    font-size: 18px;
    line-height: 24px;

}


.menu-footer {
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    margin-left: 100px;
    margin-top: 45px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 21px;
}

.footer-list {
    display: inline-block;



}

.footer-listitem {
    display: inline-block;
    margin-left: 20px;

}

.footer-listlink {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-listlink:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;

    color: #010101;
}

.footer-listitem2 {
    display: inline-block;

    padding-left: 16px;
    padding-right: 16px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin-left: 85px;
    color: #010101;
}