.card {
    width: 800px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 20px 20px;
    border-radius: 5px;
    border: 1px solid rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    font-family: sans-serif;
}

.card span {
    font-size: 25px;
    font-family: 'Ibarra Real Nova', serif;
    margin-right: 15px;
    color: rgb(61, 206, 17);
}

.card a {
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    text-decoration: none;
    color: rgb(24, 11, 206);
}

.card h4 {
    font-size: 27px;
    line-height: 33px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(140, 35, 201);
}

.card p {
    color: rgb(172, 156, 17);
}

.card-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid plum;
    outline: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    filter: brightness(.9);
    background-color: tomato;
}

.card-delete:hover {
    box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.6);
    filter: brightness(1);
}

.card-delete:active {
    box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0);
}